
body {
    position: relative;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 24px;
}

h2 {
    margin: 0;
}

a:active, a:visited {
    color: #000;
}
 
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #fff;

    &-img {
        padding: 15px;
    }

    &-resto {
        padding: 15px;
        box-shadow: 1px 1px 3px 3px (rgba(0, 0, 0, 0.25));
    }

    &__icon {
        position: absolute;
        top: 20px;
        left: 20px;
    }
}

.logo {
    height: 27px;
}

.research {
    background-color: $background-primary-color;

    &-location {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: $background-tertiary-color;
        height: 40px;
        width: 100%;
        box-shadow: inset 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
    }

    &-reservation {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &__title {
            margin: 0px;
            font-family: 'Roboto', sans-serif;
            font-size: 24px;
            font-weight: 600;
        }

        &__text {
            font-weight: 300;
            color:#5a5a5a;
        }
    }
}

.button {
    color: $text-secondary-color;
    background: linear-gradient($secondary-color, $primary-color);
    box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.25);
    height: 45px;
    min-width: 180px;
    border: 0;
    border-radius: 25px;
    padding: 0 15px;;
    margin: 10px 0 20px 0;
    font-weight: 500;
    cursor: pointer;
    transition: all 350ms ease-out;

    &:hover {
        box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.4);
        filter: brightness(1.1);
        transition: all 350ms ease-in;
    }
}

.functioning {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;

    &-list {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.list-step {
    position: relative;
    height: 65px;
    width: 100%;
    border-radius: 15px;
    border: 0;
    background-color: $background-primary-color;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    gap: 20px;
    box-shadow: 4px 8px 10px 1px rgba(0, 0, 0, 0.1);
    color: $text-primary-color;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    transition: all 350ms ease-out;

    &::before {
        content: "";
        position: absolute;
        left: -10px;
        top: calc(50% - 10px);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        width: 20px;
        font-size: 12px;
        border-radius: 50%;
        background-color: $primary-color;
        color: $text-secondary-color;
    }

    &__icon {
        font-size: 18px;
        color: $default-color-icone;
        padding-left: 10px;
    }

    &:hover {
        background-color: $primary-color-light;
        box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.25);
        transition: all 350ms ease-in;

        i {
                color: $primary-color;
        }
    }

    &:nth-child(1){
        &::before {
            content: "1";
        }
    }

    &:nth-child(2){
        &::before {
            content: "2";
        }
        
    }

    &:nth-child(3){
        &::before {
            content: "3";
        }
    }
}

.restaurants {
    padding: 30px 20px;
    background-color: $background-primary-color;

    &-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    a {
        text-decoration: none;
        color: $text-primary-color;
    }
}

.cards-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.card {
    border-radius: 15px;
    width: 100%;
    height: 250px;
    background-color: $text-secondary-color;
    box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.2);
    transition: all 350ms ease-out;

    &:hover {
        box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.3);
        transition: all 350ms ease-in;
    }

    &-new {
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: $tertiary-color;
        color: $text-tertiary-color;
        border-radius: 2px;
        padding: 7px 12px;
        font-size: 13px;
        font-weight: 500;
    }

    &-body {
        display: flex;
        align-items: center;
        width: 100%;
        height: 70%;
        overflow: hidden;
        position: relative;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        img {
            object-fit: cover;
            width: 100%;
        }
    }

    &-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 5px;
            position: relative;
            &-bg {
                position: absolute;
                font-size: 25px;
                color: #a742c6;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-transition: background-color 3s ease-out;
                -moz-transition: background-color 3s ease-out;
                -o-transition: background-color 3s ease-out;
                transition: background-color 3s ease-out;
                z-index: 1;
            }

            &-border {
                font-size: 25px;
                position: absolute;
                z-index: 2;
            }
            
        }
    
        &__title {
            margin: 15px 0 5px 15px;
        }

        &__text {
            margin: 0 0 0 15px;
            font-weight: 300;
        }
    }
}

.footer {
    background-color: $background-secondary-color;
    color: $text-secondary-color;
    padding: 20px;
    a {
        text-decoration: none;
        color: $text-secondary-color;
        &:hover {
            text-decoration: underline;
        }
    }
    &-nav ul {
        list-style-type: none;
        padding-left: 0;
        & li {
            margin-bottom: 10px;
            font-size: 15px;
            & i {
                font-size: 12px;
            }
        }
    }
        &__title {
            font-family: 'Shrikhand', cursive;
            font-weight: 100;
            font-size: 18px;
        }
}

/*********************/
/** Générique resto **/
/*********************/

.background-resto {
    width: 100%;
    height: 200px;
    max-height: 300px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &__img {
        height: auto;
        width: 100%;
    }

    &-note {
        padding-bottom: 200px;
    }
}

.carte {
    background-color: $background-primary-color;
    height: 100%;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;  
    margin-top: -35px;

    &-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        padding: 10px 15px 0 15px;

        &__title {
            font-size: 23px;
        }
    }

    &-content {
        padding: 15px 15px 0 15px;

        &-bloc-list {
            margin-bottom: 25px;
        }

        &-bloc__title {
            margin-bottom: 20px;
            position: relative;
            font-size: 15px;
            font-weight: 400;
            text-transform: uppercase;       
        
            &::before {
                content: "";
                width: 40px;
                height: 3px;
                position: absolute;
                bottom: -5px;
                background-color: $tertiary-color;
            }
        }    
    }

    &-footer {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }
}

.carte-content-bloc {

    &.bloc-entrees {

        .list-elem {
            animation: opacity 1500ms forwards;

            &:nth-child(1) {
                animation-delay: 200ms;
            }
            &:nth-child(2) {
                animation-delay: 300ms;
            }
            &:nth-child(3) {
                animation-delay: 400ms;
            }
            &:nth-child(4) {
                animation-delay: 500ms;
            }
        }
    }

    &.bloc-plats {

        .list-elem {
            animation: opacity 1500ms forwards;

            &:nth-child(1) {
                animation-delay: 600ms;
            }
            &:nth-child(2) {
                animation-delay: 700ms;
            }
            &:nth-child(3) {
                animation-delay: 800ms;
            }
        }
    }

    &.bloc-desserts {

        .list-elem {
            animation: opacity 1500ms forwards;

            &:nth-child(1) {
                animation-delay: 900ms;
            }
            &:nth-child(2) {
                animation-delay: 1000ms;
            }
            &:nth-child(3) {
                animation-delay: 1100ms;
            }
        }
    }
}

.list-elem {
    background-color: #fff;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 15px;
    height: 60px;
    cursor: pointer;
    transition: 350ms ease-out;
    opacity: 0;

    &-description {
        display: flex;
        flex-direction: column;
        width: auto;    
        max-width: calc(100% - 40px);

        &__text {
            display: inline-block;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 14px;
        }

        &__title {
            display: inline-block;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        } 
    }
     
    &__price {
        font-weight: 500;
        font-size: 14px;
    }
    
    &-text {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-end;
        width: 100%;
        padding: 10px 15px 10px 10px;
    }

    &__check {
        transition: all 350ms ease-in;
        width: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: $tertiary-color;
        overflow: hidden;
        height: 60px;
        
        &-icon {
            border-radius: 50%;
            height: 18px;
            width: 18px;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                font-size: 12px;
                color: $tertiary-color;
            }
        }
    }

    &:hover {
        transition: 350ms ease-in;

        .list-elem-text {
            width: calc(100% - 50px);
            transition: all 350ms ease-in;

        }

        .list-elem__price {
            justify-self: end;
        }

        .list-elem__check {
            width: 50px;
            transition: all 350ms ease-in;

            &-icon {
                i {
                    transition: all 350ms ease-in;
                    transform: rotate(1turn);
                }
            }
        }
    }

    h3 {
        font-size: 16px;
        margin: 0 0 5px 0;
    }
}

.commander {
    color: $text-secondary-color;
    background: linear-gradient($secondary-color, $primary-color);
    box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.25);
    height: 45px;
    border: 0;
    border-radius: 25px;
    padding: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 350ms ease-out;

        &:hover {
        box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.4);
        transition: all 350ms ease-in;
        }
    }

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.685);
    animation: fadeout 1s 3s forwards;

    i {
        color: #fff;
        font-size: 150px;
        animation: 1s linear rotate;
        animation-iteration-count: 3;
        position: absolute;
        top: 40vh;


    }
}
/***********************/
/**     Keyframes     **/
/***********************/

@keyframes opacity {
    from {
        opacity: 0;
        transform: translatey(20px);
    }
  
    to {
        opacity: 1;
        transform: translatey(0px);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        color: $primary-color;
    }

    40% {
        color: $secondary-color;
    }

    50% {
        transform: rotate(180deg);
        color: $secondary-color;
    }

    60% {
        color: $secondary-color;
    }

    100% {
        transform: rotate(360deg);
        color: $primary-color;
    }
}

@keyframes fadeout {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
        visibility: hidden;
    }
}

/*********************/
/**    Desktop     **/
/*********************/

@media screen and (min-width: 960px)
{
    
    .main {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .functioning {
        display: flex;
        width: 100%;
        align-items: center;
        
        &-bloc {
            max-width: 1200px;
            width: 100%;
        }

        &-list {
            flex-direction: row;
            justify-content: space-between;
            gap: 30px;
        }
    }

    .restaurants {
        margin: auto;
        display: flex;
        width: 100%;
        justify-content: center;
        &-container {
            width: 100%;
            max-width: 1200px;
            display: flex;
            justify-content: center; 
        }
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        
        a {
            width: 48%;
        }
    }

    .card {
        
        max-width: 580px;
    }
    
    .footer {
        margin: auto;
        display: flex;
        justify-content: center;
        width: 100%;
        &-nav {
            width: 100%;
            max-width: 1200px;
        }
    }

    .background-resto {
        height: 300px;
    }

    .carte {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-content {
            width: 100%;
            display: flex;
            &-bloc {
                flex:1;
                padding: 10px;
                display: flex;
                flex-direction: column;
            }

            @media  screen and (min-width: 1240px){
                max-width: 1200px;
                padding: 0;

                &-bloc {
                    padding: 0;

                    &:nth-child(2) {
                        padding: 0 20px;
                    }
                }
            }
        }
    }

}