

* {
    font-family: 'Roboto', sans-serif;
}

h2 {
    margin: 0;
}
 
.header {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    &-logo {
        height: 27px;
    }
}

.recherche {
    background-color: $background-primary-color;
    height: 250px;
    &>h1 {
        /*font-family: 'Roboto', sans-serif;*/
        font-size: 24px;
    }
    &-location {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: $background-tertiary-color;
        height: 40px;
        box-shadow: inset 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
    }
    &-reservation {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        & h1 {
            margin: 0px;
            font-size: 24px;
        }
        p {
            font-weight: 300;
            color:#5a5a5a;
        }
        button {
            color: $text-secondary-color;
            background-color: $primary-color;
            height: 45px;
            border: 0;
            border-radius: 20px;
            padding: 15px;
            cursor: pointer;
        }
    }
}

.fonctionnement {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    &-box-button {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &-button {
        position: relative;
        height: 65px;
        width: 100%;
        border-radius: 15px;
        border: 0;
        background-color: $background-primary-color;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
        gap: 20px;
        box-shadow: 4px 8px 10px 1px rgba(0, 0, 0, 0.1);
        color: $text-primary-color;
        font-weight: 500;
        font-size: 15px;
        cursor: pointer;

        &:hover {
            background-color: $primary-color-light;

            i {
                color: $primary-color;
            }
        }

        i {
            font-size: 18px;
            color: $default-color-icone;
            padding-left: 10px;
        }
    }
    &-number {
        position: absolute;
        left: -10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: $primary-color;
        color: $text-secondary-color;
    }
}

.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px;
    background-color: $background-primary-color;
    gap: 20px;
}

.card {
    border-radius: 15px;
    width: 100%;
    height: 250px;
    background-color: $text-secondary-color;
    box-shadow: 4px 8px 10px 1px rgba(0, 0, 0, 0.1);

    &-new {
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: $tertiary-color;
        color: $text-tertiary-color;
        border-radius: 2px;
        padding: 7px 12px;
        font-size: 13px;
        font-weight: 500;
    }
    &-body {
        display: flex;
        align-items: center;
        width: 100%;
        height: 70%;
        overflow: hidden;
        position: relative;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
        img {
            object-fit: cover;
            width: 100%;
        }
    }
    &-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        i {
            font-size: 25px;
            margin-right: 20px;
        }
    }
    h3 {
        margin: 15px 0 5px 15px;
    }
    span {
        margin: 0 0 0 15px;
        font-weight: 300;
    }
}

.footer {
    background-color: $background-secondary-color;
    color: $text-secondary-color;
    padding: 20px;
    &-nav ul {
        list-style-type: none;
        padding-left: 0;
        & li {
            margin-bottom: 10px;
            font-size: 15px;
            & i {
                font-size: 12px;
            }
        }
    }
    &>h2 {
        font-family: 'Shrikhand', cursive;
        font-weight: 100;
        font-size: 18px;
    }
}