.heart-icon {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart-icon:hover .heart-icon--gradient {
  opacity:1;
  transition: all 500ms ease-in;
}

.heart-icon:hover .heart-icon--bordered {
  opacity:0;
  transition: all 500ms ease-in;
}

  .heart-icon--gradient {
    font-size: 25px;
    position: absolute;
    opacity:0;
    background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
    background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
    background-image: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    transition: all 500ms ease-in;
  }
  
  .heart-icon--bordered { 
    font-size: 25px;
    opacity: 1; 
    transition: all 500ms ease-in; 
  } 