$primary-color: #9356DC ;
$primary-color-light: #f5edff;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$background-primary-color: #f6f6f6;
$background-secondary-color: #353535;
$background-tertiary-color: #eaeaea;

$text-primary-color: #000;
$text-secondary-color: #fff;
$text-tertiary-color: #008766;
$default-color-icone: #7e7e7e;
